.container {
    position: relative;
}

.box2 {
    display: none;
    position: absolute;
    top: 100%;
    left: calc(100% - (256px + 100%) / 2);
    background-color: transparent;
    z-index: 100;
}

.container:hover .box2 {
    display: block;
}


.container:hover .arrowIcon {
    transform: rotate(180deg);
}

.arrowIcon {
    transition: transform 0.3s ease;
}
