.container {
    position: relative;
}

.box2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: calc(100% - (256px + 100%) / 2);
    background-color: transparent;
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.container:hover .box2 {
    opacity: 1;
    visibility: visible;
}


.container:hover .arrowIcon {
    transform: rotate(180deg);
}

.arrowIcon {
    transition: transform 0.3s ease;
}